* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  inline-size: 1000px;
  /* margin-block-start: 5em; */
  /* margin-inline-start: 5em; */
  /* margin-inline-end: 5em; */
}

h1 {
  font-size: 3.5em;
  text-align: center;
  margin: 0.5em;
  color: rgb(73, 77, 84);
}


h1 strong {
  color: rgb(53, 119, 148);
}

h1 span {
  display: block;
}

h2 {
  color: rgb(190, 119, 51);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


img {
  max-inline-size: 100%;
  margin-block: 2em;
}


/* nav { */
/*   border: 1px solid black; */
/* } */

.two-columns-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid orange; */
  justify-content: space-between;
  margin-inline-end: 0;
  gap: 20px;
}

.two-columns-layout img {
  justify-self: end;
}

.two-columns-layout img:first-child {
  justify-self: start;
}


nav ul {
  display: flex;
  gap: 20px;
  justify-content: end;
}

nav ul li {
  list-style: none;
}

header a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

section {
  margin-block: 1em;
}

section a {
  color: rgb(106, 165, 77);
}

a:hover {
  color: rgb(53, 119, 148);
}

p {
  margin-block: 1rem;
}

.frame {
  border: 1px solid black;
  background-color: rgb(53, 119, 148);
  color: white;
  padding: 20px;
  text-align: center;
}

.why-bouldering h2 {
  color: rgb(53, 119, 148);
  margin-block-start: 2em;
}

ul,
ol {
  list-style-position: inside;
}

ul li {
  padding: 10px;
}

ol li {
  padding: 5px;
}

.before {
  background-image: url("../version_2/images/simple-steps.jpg");
  padding: 15px;
}

.before {
  color: white;
  max-inline-size: 25em;
}


.before h2 {
  color: white;
  margin: 0;
}
