* {
  margin: 0;
  padding: 0;
}

h1 {
    color: red;
}
.inline {
  margin: 5px 5px 5px 5px;
  /* padding: 5px 5px 5px 5px; */
  background-color: black;
  /* display: inline; */
  width: 500px;
  height: 50px;
}
.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: red;
  line-height: 50px;
  display: inline-block;
  align-items: center;
}

.inline2 {
  display: flexbox;
  align-items: start;
  height: 150px;
  width: 500px;
  background-color: black;
  margin: 5px;
}

.cell2{
  display: block;
  width: 50px;
  height: 50px;
  background-color: red;
  line-height: 50px;
  text-align: center;
}
.title {
  font-weight: bold;
  margin-top: 20px;
}

.wrapper {
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
}

/* 1. inline */
.example-inline {
  display: inline;
  background-color: lightblue;
}

/* 2. block */
.example-block {
  display: block;
  background-color: orange;
}

/* 3. inline-block */
.example-inline-block {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: coral;
}

/* 4. flex */
.flex-wrapper {
  display: flex;
  gap: 10px;
}


.example-box {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 4. flex */
.flex-wrapper-b {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.example-box-b {
  /* width: 100px; */
  /* height: 100px; */
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: box;
}
.example-box-c {
  /* width: 100px; */
  /* height: 100px; */
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: box2;
}

/* 5. grid */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "box box . . ."
    "box box . . ."
    "box box . . ."
    ". . . . box2"
    ". . . . box2"
    ;
  gap: 10px;
}
